@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f5f5f5;
    overflow-x: hidden;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    width: 100%;
    max-width: 400px;
    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: all linear 0.3s;
}

.card-list .card-item .card-link:hover {
    border-color: #00B207;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 10 / 9;
    object-fit: cover;
    border-radius: 10px;

}

.card-list .card-link .badge {
    color: #00B207;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background-color: rgba(214, 238, 228, 0.623);
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-item .card-link .badge.corn {
    background: #e7d154;
    color: white;
}

.card-list .card-item .card-link .badge.mango {
    background: #e76a54;
    color: white;
}

.card-list .card-item .card-link .badge.orange {
    background: #ecca04;
    color: white;
}

.card-list .card-item .card-link .badge.tomato {
    background: #ff0000;
    color: white;
}

.card-list .card-link .card-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
    color: #000;
    text-decoration: none;

}

.card-link .card-button {
    user-select: none;
    padding: 5px;
    border-radius: 50%;
    margin-top: 20px;
    background: none;
    cursor: pointer;
    border: 2px solid #00B207;
    transform: rotate(-45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.card-link .card-button:hover {
    background: #00B207;
    color: #fff;
    border-color: #00B207;
}


.back {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    background-color: #00B207;
    width: fit-content;
    border-radius: 50px;
    margin-top: 20px;
    transition: all linear 0.3s;
    cursor: pointer;
}

.back:hover {
    background-color: #314e33;
}

.back a {
    text-decoration: none;
    color: white;
}

.swiper-horizontal {

    &.swiper-rtl .swiper-button-prev,
    &.swiper-rtl~.swiper-button-prev,
    &~.swiper-button-next,
    .swiper-button-next {
        left: auto;
        right: var(--swiper-navigation-sides-offset, 4px);
        top: calc(45% - 20px);
    }
}

.swiper-horizontal {

    .swiper-button-next,
    .swiper-button-prev,
    ~.swiper-button-next,
    ~.swiper-button-prev {
        margin-left: 0;
        margin-top: calc(0px - var(--swiper-navigation-size) / 2);
        top: calc(45% - 20px);
    }
}